<ion-header>
  <ion-toolbar>
    <ion-title>Patient History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
      <img src="assets/Dianah Davis.png" />
      <ion-card-header>
        <ion-card-title>Dianah Davis / Age-80</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>
        Name: Dianah Davis<br><br>
        Age: 83<br><br>
        Gender: Female<br><br>
        Address: 123 Roxy Rd, Toronto, Ontario, M1D2B9<br><br>
        Telephone: +1 (647) - 562 - 4819<br><br>
        General Health Condition: Fair<br><br>
        Diagnosis: Diabetes, Arthritis<br><br>
        Medication: Novolog Mix 70/30, Tylenol<br><br>
        Allergic to: Aspirin, Ibuprofen, Pencilin<br><br>
        Reason for admission: Lives alone
      </h2>
      </ion-card-content>
    </ion-card>

</ion-content>
