<ion-header>
  <ion-toolbar>
    <ion-title>Patient Records</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img src="assets/Dianah Davis.png" />
    <ion-card-header>
      <ion-card-title>Dianah Davis / Age-80</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>
      Name: Dianah Davis<br><br>
      Age: 83<br><br>
      Gender: Female<br><br>
      Blood Pressure: (123/85mmHg)<br><br>
      Respiratory Rate: (15/min)<br><br>
      Blood Oxygen Level:  (86 - 92%)<br><br>
      Heartbeat Rate: (145/min)<br><br>
      Patient Health: Critical or Normal<br><br>
      <ion-item>
        <ion-label position="floating">Add new record</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </h2>
    </ion-card-content>
  </ion-card>

</ion-content>

