#container {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}

#header{

  display: flex;
  flex-direction: column;
  align-items:center;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  color:coral;
  margin-bottom: 15%;
}

img {
  width: 275px;
  height: 275px;
  
}

#form {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;

}

ion-button {
  margin-top: 35;
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  
}


