<ion-header class = "ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id ="header">
    <h1>Caregiver</h1>
    <img src="assets/logo.png">

  </div>

  

  <div id="form">

    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
   
    <ion-button expand="block" shape="round" (click)="login()">Log in</ion-button>
    <ion-button expand="block" shape="round" (click)="goRegister()">Register</ion-button>

  </div>
  
 
             
              
         
            </ion-content>
  
                                              
