<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Repeat password" type="repass" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <button full (click)="register()">Register</button>

</ion-content>
